<html>
    <head>
        <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <style type="text/css">

            html,body {overflow: visible !important; color: black !important; border-style: none !important; border-color:black !important;font-size: 12px!important;}
            div .table-responsive {overflow: visible !important; border-style: none !important}

            .panel{ margin: 8px;}
            .panel-info > .panel-heading,.titulo_vista {
                background-color: white;
                font-size: 12px;
                border-color: black;
                color: black;
                font-weight: bold;
                border-style: none !important;
                padding: 2px 5px;
            }
            table{font-size: 10px!important;}
            .panel-body, .vista_paciente{font-size: 10px; border-style: none !important;}
            td,th {padding: 2px 5px;}
            .panel-info{border-color:black}
            table {width: 100%}

        </style>
    </head>
    <body>
        <div style="height: {{ formato.piey }};">
            <table width="100%" style="border-collapse: collapse;"><tr>
                   <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila1col1 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ factura.fecha | date('d') }}
						{{ ' de ' }}
						{% if factura.fecha | date('m') == 1 %} {{ 'Enero' }}
						{% elseif factura.fecha | date('m') == 2 %} {{ 'Febrero' }}
						{% elseif factura.fecha | date('m') == 3 %} {{ 'Marzo' }}
						{% elseif factura.fecha | date('m') == 4 %} {{ 'Abril' }}
						{% elseif factura.fecha | date('m') == 5 %} {{ 'Mayo' }}
						{% elseif factura.fecha | date('m') == 6 %} {{ 'Junio' }}
						{% elseif factura.fecha | date('m') == 7 %} {{ 'Julio' }}
						{% elseif factura.fecha | date('m') == 8 %} {{ 'Agosto' }}
						{% elseif factura.fecha | date('m') == 9 %} {{ 'Septiembre' }}
						{% elseif factura.fecha | date('m') == 10 %} {{ 'Octubre' }}
						{% elseif factura.fecha | date('m') == 11 %} {{ 'Noviembre' }}
						{% else %} {{ 'Diciembre' }} {% endif %}
						{{ ' de ' }}
						{{ factura.fecha | date('Y') }}
					</td>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila1col2 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ cliente.nrc }}</td></tr></table>
            <table width="100%" style="border-collapse: collapse;"><tr>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila2col1 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ cliente.nombre}}</td>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila2col2 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ cliente.nit }}</td></tr></table>
            <table width="100%" style="border-collapse: collapse;"><tr>
                    <td valign="top" style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila3col1 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ cliente.direccion}}</td>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila3col2 }}">
                        {{ cliente.giro }}</td></tr></table>
            <table width="100%" style="border-collapse: collapse;"><tr>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila4col1 }}">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{{ cliente.nombrecomercial }}</td>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila4col2 }}">&nbsp;</td></tr></table>
            <table width="100%" style="border-collapse: collapse;"><tr>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila5col1 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ cliente.iddepartamento}}</td>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila5col2 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ cliente.codigo }}</td></tr></table>
            <table width="100%" style="border-collapse: collapse;"><tr>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila6col1 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ factura.idempleado }}</td>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila6col2 }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ factura.idcondicionpago }}</td></tr></table>
            <table width="100%" style="border-collapse: collapse;"><tr>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila7col1 }}">{% if notaremision.numero is defined %} {{ notaremision.fecha | date('d-m-Y') }} {% endif %}&nbsp;</td>
                    <td style="height:{{ formato.interlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}" width="{{ formato.fila7col2 }}">{% if notaremision.numero is defined %} {{ notaremision.numero }}{% endif %}</td></tr></table>

            {# detalle de la factura #}
            <table width="100%">
                <tr>
                    <td width="{{ formato.detallexcol1 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol2 }}">&nbsp;</td>
                    <td width="{{ formato.detallexcol3 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol4 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol5 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol6 }}" style="text-align: center;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="{{ formato.detallexcol1 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol2 }}">&nbsp;</td>
                    <td width="{{ formato.detallexcol3 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol4 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol5 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol6 }}" style="text-align: center;">&nbsp;</td>
                </tr>
                <tr>
                    <td width="{{ formato.detallexcol1 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol2 }}">&nbsp;</td>
                    <td width="{{ formato.detallexcol3 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol4 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol5 }}" style="text-align: center;">&nbsp;</td>
                    <td width="{{ formato.detallexcol6 }}" style="text-align: center;">&nbsp;</td>
                </tr>
                {% for item in items %}
                    <tr>
                        <td style="height:{{ formato.detalleinterlineado }}; vertical-align: top; text-align: right; font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                            {{ item.cantidad | number_format(0, '.', ',')}}</td>
                        <td style="height:{{ formato.detalleinterlineado }};font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                            <p style="margin-left: 20px;">{{ item.descripcion }}</p></td>
                        <td style="height:{{ formato.detalleinterlineado }};vertical-align: top; text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                            {{ item.preciounitario }}</td>
                        <td style="height:{{ formato.detalleinterlineado }};vertical-align: top; text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                            {{ item.ventasnosujetas }}</td>
                        <td style="height:{{ formato.detalleinterlineado }};vertical-align: top; text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                            {{ item.ventasexentas }}</td>
                        <td style="height:{{ formato.detalleinterlineado }};vertical-align: top; text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                            {{ item.ventasgravadas }}</td>
                    </tr>
                {% endfor %}
                {% for i in numItems .. formato.detallenumeroitems - 1 %}
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {# pie de pagina #}
            <table width="100%">
                <tr>
                    <td width=" {{ formato.piexcol1 }} " style="height:{{ formato.pieinterlineado }}; text-align: left;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ totalenletras }}</td>
                    <td width=" {{ formato.piexcol2 }} " style="height:{{ formato.pieinterlineado }}; text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                        {{ factura.sumas }}</td>
                </tr>
                <tr>
                    <td style="height:{{ formato.pieinterlineado }};text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">&nbsp;</td>
                    <td width="8%" style="height:{{ formato.pieinterlineado }};text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                        {{ factura.iva }}</td>
                </tr>
                <tr>
                    <td style="height:{{ formato.pieinterlineado }};text-align: right;"></td>
                    <td width="8%" style="height:{{ formato.pieinterlineado }};text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">
                        {{ factura.subtotal }}</td>
                </tr>
                <tr>
                    <td style="height:{{ formato.pieinterlineado }};text-align: right;">&nbsp;</td>
                    <td width="8%" style="height:{{ formato.pieinterlineado }};text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">{{ factura.ivaretenido }}</td>
                </tr>
                <tr>
                    <td style="height:{{ formato.pieinterlineado }};text-align: right;">&nbsp;</td>
                    <td width="8%" style="height:{{ formato.pieinterlineado }};text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">{{ factura.ventasnosujetas }}</td>
                </tr>
                <tr>
                    <td style="height:{{ formato.pieinterlineado }};text-align: right;">&nbsp;</td>
                    <td width="8%" style="height:{{ formato.pieinterlineado }};text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">{{ factura.ventasexentas }}</td>
                </tr>
                <tr>
                    <td style="height:{{ formato.pieinterlineado }};text-align: right;">&nbsp;</td>
                    <td width="8%" style="height:{{ formato.pieinterlineado }};text-align: right;font-size: {{ formato.idfontsize.size }}; font-family: {{ formato.idfontname.nombre }}">{{ factura.ventatotal }}</td>
                </tr>
            </table>

</body>
</html>
