<html>
    <head>
        <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <style type="text/css">

            html,body {overflow: visible !important; color: black !important; border-style: none !important; border-color:black !important;font-size: 12px!important;}
            div .table-responsive {overflow: visible !important; border-style: none !important}

            .panel{ margin: 8px;}
            .panel-info > .panel-heading,.titulo_vista {
                background-color: white;
                font-size: 12px;
                border-color: black;
                color: black;
                font-weight: bold;
                border-style: none !important;
                padding: 2px 5px;
            }
            table{font-size: 10px!important;}
            .panel-body, .vista_paciente{font-size: 10px; border-style: none !important;}
            td,th {padding: 2px 5px;}
            .panel-info{border-color:black}
            table {width: 100%}

        </style>
    </head>
    <body>
        <table width="100%" style="border-collapse: collapse;">
            <tr>
                <td colspan="2" align="center">{{ empresa.nombre }}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">Reporte Diario de ventas</td>
            </tr>
        </table>
        <table width="100%" style="border-collapse: collapse;">
            <tr>
                <td>TIPO</td>
                <td>NUMERO</td>
                <td>FECHA</td>
                <td>CLIENTE</td>
                <td style="text-align: right">CONTADO</td>
                <td style="text-align: right">CREDITO</td>
                <td style="text-align: right">VENTA-NETA</td>
                <td style="text-align: right">IVA</td>
                <td style="text-align: right">TOTAL</td>
            </tr>
                {% set subtotal = 0 %}
                {% set descuento = 0 %}
                {% set ventaneta = 0 %}
                {% set iva = 0 %}
                {% set total = 0 %}
                
                {% set total_contado = 0 %}
                {% set total_creditos = 0 %}
            {% for mov in movimientos %}
                {% set subtotal = subtotal + mov.subtotal %}
                {% set descuento = descuento + mov.descuento %}
                {% set ventaneta = ventaneta + mov.ventaneta %}
                {% set iva = iva + mov.iva %}
                {% set total = total + mov.total %}
                {% if mov.id_condicionpago == 1 %}
                    {% set total_contado = total_contado + mov.total %}
                {% else %}
                    {% set total_creditos = total_creditos + mov.total %}
                {% endif %}
                <tr>
                    <td>{{ mov.tipo }}</td>
                    <td>{{ mov.numero }}</td>
                    <td>{{ mov.fecha | date('d/m/Y')}}</td>
                    <td>{{ mov.cliente }}</td>
                    <td style="text-align: right">{% if mov.id_condicionpago == 1 %}{{ mov.total | number_format(2, '.', ',')}} {% else %} &nbsp; {% endif %}</td>
                    <td style="text-align: right">{% if mov.id_condicionpago == 1 %} &nbsp; {% else %} {{ mov.total | number_format(2, '.', ',')}} {% endif %}</td>
                    <td style="text-align: right">{{ mov.ventaneta  | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ mov.iva  | number_format(2, '.', ',') }}</td>
                    <td style="text-align: right">{{ mov.total  | number_format(2, '.', ',') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right">======</td>
                <td style="text-align: right">======</td>
                <td style="text-align: right">======</td>
                <td style="text-align: right">======</td>
                <td style="text-align: right">======</td>
            </tr>
            <tr>
                <td>SUMAS</td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right">{{ total_contado  | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ total_creditos  | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ ventaneta  | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ iva  | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ total  | number_format(2, '.', ',') }}</td>
            </tr>
            
        </table>
    </body>
</html>