{#

Reporte de facturas por vendedor
CREATED BY: Julio Castillo
DATE: 9/4/16

#}

{% extends base_template %}


{% block show %}
        <form method="GET" style="border-width: 1px; border-style: solid; border-color: blue blue blue blue;">
            <b><center>REPORTE DE INVENTARIO AL DIA</center></b> <br>
            <script type="text/javascript">
            $(function() {
              $('#fini').datetimepicker({
                pickTime: false,
                format: "YYYY-MM-DD"
              });
               $('#ffin').datetimepicker({
                pickTime: false,
                format: "YYYY-MM-DD"
              });
            });
            </script>
            <table style="width: 60%; margin: 10px">
                <tr>
                    <td>Rango de fecha:</td>

                    <td>desde</td>
                    <td>
                        <input readonly class=" form-control" id="ffin" type="text" value="{{ ffin }}" maxlength="10" style="width:120px" required="required" name="ffin">
                    </td>
                    <td>
                        <input type="checkbox" name="ocultarsaldoscero" id="ocultarsaldoscero" {{ (ocultarsaldoscero) ? "checked" : '' }} >
                        <label for="ocultarsaldoscero">Ocultar saldos a cero</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                    <p>Marca de producto:</p>
                        <select id="productoseleccionado" name="id_marca" required="required">
                            <option value="" selected="{{ id_marca }}">...Seleccione...</option>
                            <option value="000">Todas</option>
                            {% for marca in marcas %}
                                {% if id_marca == marca.id %}
                                    <option value="{{ marca.id }}" selected="{{ id_marca }}">{{ marca.nombre }}</option>
                                {% else %}
                                    <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input class="btn btn-small btn-primary" type="submit" value="Generar reporte"></td>
                </tr>
            </table>
        </form>
        <div style="border-width: 1px; border-style: solid; border-color: blue blue blue blue; background-color: white">
        {%if requestvalid == TRUE %}
                    <table width="100%" style="border-collapse: collapse;">
            <tr>
                <td colspan="2" align="center">{{ empresa.nombre }}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">Reporte de Inventario al día</td>
            </tr>
        </table>
        <table width="100%" style="border-collapse: collapse;">
            <tr>
                <td>PRODUCTO</td>
                <td>LOTE</td>
                <td>VENCE</td>
                <td align="right">INICIAL</td>
                <td align="right">ENTRADA</td>
                <td align="right">SALIDA</td>
                <td align="right">SALDO</td>
                <td align="right">PRECIO CIF</td>
                <td align="right">IMPORTE</td>
            </tr>
            {% set total_importe = 0 %}
            {% for mov in movimientos %}
                {% set total = mov.cantidad_inicial + mov.cantidad_entrada - mov.cantidad_salida %}
                {% set importe = total * mov.preciocif %}
                {% set total_importe = total_importe + importe %}
                {% if ocultarsaldoscero == TRUE and total == 0 %}
                    {# evitar fila#}
                {% else %}
                    <tr>
                        <td>{{ mov.nombre }}</td>
                        <td>{{ mov.lote }}</td>
                        <td>
                            {% if mov.vence != "" %}
                                {{ mov.vence | date('d/m/Y')}}
                            {% endif %}
                        </td>
                        <td align="right">{{ mov.cantidad_inicial }}</td>
                        <td align="right">{{ mov.cantidad_entrada }}</td>
                        <td align="right">{{ mov.cantidad_salida }}</td>
                        <td align="right">{{ total  | number_format(2, '.', ',')}}</td>
                        <td align="right">{{ mov.preciocif  | number_format(2, '.', ',')}}</td>
                        <td align="right">{{ importe  | number_format(2, '.', ',')}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
                <tr>
                    <td>TOTAL</td>
                    <td></td>
                    <td></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right"></td>
                    <td align="right">{{ total_importe | number_format(2, '.', ',')}}</td>
                </tr>

        </table>

        {% endif %}
        </div>
{% endblock %}
