{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}


{% block show %}
        <form method="GET" style="border-width: 1px; border-style: solid; border-color: blue blue blue blue;">
            <b><center>REPORTE ESTADO DE CUENTAS POR COBRAR</center></b> <br>
            <b>CLIENTE:</b> 
            <select id="clienteseleccionado" name="id" required="required" >
                <option value="" selected="{{ id }}">...Seleccione...</option>
                {% for cliente in clientes %}
                    {% if id == cliente.id %}
                        <option value="{{ cliente.id }}" selected="{{ id }}">{{ cliente.nombre }}</option>
                    {% else %}
                        <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            
            <script type="text/javascript">
            $(function() {
              $('#fini').datetimepicker({ 
                pickTime: false,
                format: "YYYY-MM-DD"
              });
               $('#ffin').datetimepicker({ 
                pickTime: false,
                format: "YYYY-MM-DD"
              });
            });
            </script>
            <table style="width: 50%; margin: 10px">
                <tr>
                    <td><input class="btn btn-small btn-primary" type="submit" value="Generar reporte"></td>
                </tr>
            </table>
        </form>
        <div style="border-width: 1px; border-style: solid; border-color: blue blue blue blue; background-color: white">
        {%if requestvalid == TRUE %}
            {% include 'BundlesCxcBundle:Reportes:resultado_estado_cuentas_cobrar.html.twig' %}
        {% endif %}
        </div>
{% endblock %}
